<!DOCTYPE html>
<html lang="ru">
  <head>
	<link href="style.css" rel="stylesheet">
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">-->
          
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/app.js"></script>
	
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title>Понятный договор</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	
    
  </head>
  <body>
  
    <div class="wrapper">
	
      <div class="header">
        
		<a href="index.html"><h1 class="text-muted">Понятный договор</h1></a>
		
		<ul class="menu">
			<li><a href="about_project.html">О проекте</a></li>
			<li><a href="developers.html">Разработчики</a></li>
		</ul>
		
      </div>
	  
	  <main class="content">
		<h2 class="text-muted-h2">Веб-сервис, делающий договора понятными.</h2>
		<br />
	    <hr class="style-four"/>
		<p class="text">Основная функциональность разрабатываемого веб-сервиса - парсинг документов юридических договоров, загружаемых на сервер в формате docx\pdf), и представление их в виде простом и понятном для восприятия. Сервис не отменяет вдумчивого чтения текста договора лицом, которое будет его подписывать, но структурирует положения договора, представляет их в более понятном виде, помогает не упустить детали (в т.ч. написанные "мелким шрифтом"). Согласитесь, что изучение договора это вообще говоря задача юриста, поэтому и договор обычно написан на понятном ему языке, в тоже время не все обладают юридическими навыками и для таких людей наш сервис будет полезен.</p>
		<br />
		<p class="text">В качестве основных пользователей мы видим представителей малого предпринимательства и граждан нашей страны, которым не безралично, что написано в бумаге, которую они подпишут.</p>
		<br />
		<p class="text">Сервис применим к договорам различного вида (кредитным, ипотечным, заемным, трудовым и прочим договорам). Ограничения сервиса на обработку документов того или иного вида задаются, частично - используемыми правилами, а в целом - используемым словарем (онтологией) и списком основных сущностей договорных документов (например: "сумма договора", "клиент", "заказчик", "заемщик", "срок договора" и пр.)</p>
		<br />
		<p class="text">Понятное и простое представление договора, выбранное нами - это список положений договора, группированных по основным сущностям договора, и семантическая сеть.</p>
		<br />
		<p class="text">Для реализации проекта нами в начале был выбран свободный инструментарий семантического анализа текстов AoT RML <a href="http://aot.ru">(http://aot.ru)</a>, разработанный нашими соотечественниками, но более уже неподдерживаемый. Потратив значительное время на изучение данного инструмента и в условиях ограниченности времени конкурса, мы отложили его до лучших времен. В представленной на конкурс реализации мы используем GLR-парсер <a href="https://github.com/vas3k/python-glr-parser">(https://github.com/vas3k/python-glr-parser)</a> и инструмент serelex <a href="http://serelex.cental.be/ru">(http://serelex.cental.be/ru)</a>, которые оба распространяются в исходных кодах.</p>
		<br />
		<p class="text">Приведенная ссылка на сайт проекта является временной и ведет на тестовый VDS, которым наша команда пользуется для тестирования прототипа проекта.</p>
		
    </div>
	
	<footer class="footer">
	</footer>
	
  </body>
</html>