<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
          
    <script src="../js/jquery-2.1.1.min.js"></script>
    <script src="../js/app.js"></script>
    
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Загрузите файл</h3>
      </div>
      <hr/>
      <div>
      
      <form id="loadForm" action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Загрузить">
      </form>
      </div>
    </div>
  </body>
</html>